.navbar-brand {
  background-color: white;
  border-radius: 4px;
  padding-top: 10px !important;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
