{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <h1>Group Process Status </h1>
        <div class="row">
        <div class="col-md-6">
        <div class = "container-fluid">
        <h2>Request Submitted By you</h2>
        {% if group_results %}
            <h3> In Progress </h3>
            {% for key, values in  group_results.items %}
                {% if key in not_completed %}
                    <li><h4>{{ key }} </h4> Config: {{values.0.config_name}}</li>
                {% endif %}
            {% endfor %}
            <h3> Completed </h3>
             {% for key, values in  group_results.items %}
                {% if key not in not_completed %}
                        <ul><h4>{{ key }} </h4>Config: {{values.0.config_name}}</li>
                        <form action="{% url 'groups:result_graph' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="group_name" id="group_name" value="{{values.0.group_name}}" />
                            <input type="hidden" name="processed_time" id="processed_time" value="{{values.0.processed_time|date:"Y-m-d H:i:s"}}" />
                            <button type="submit" value="Show Graph" class="btn btn-primary btn-sm">Show Graph</button></ul>

                        </form>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="col-md-6">
        <div class = "container-fluid">
        <h2>Request Submitted By Others</h2>
        {% if shared_group_results %}
            <h3> In Progress </h3>
            {% for key, values in  shared_group_results.items %}
                {% if key in shared_not_completed %}
                    <li>{{ key }} Config: {{values.0.config_name}}</li>
                {% endif %}
            {% endfor %}
            <h3> Completed </h3>
             {% for key, values in  shared_group_results.items %}
                {% if key not in shared_not_completed %}
                        <ul>{{ key }} Config: {{values.0.config_name}}</li>
                        <form action="{% url 'groups:result_graph' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="group_name" id="group_name" value="{{values.0.group_name}}" />
                            <input type="hidden" name="processed_time" id="processed_time" value="{{values.0.processed_time|date:"Y-m-d H:i:s"}}" />
                            <button type="submit" value="Show Graph" class="btn btn-primary btn-sm">Show Graph</button></ul>

                        </form>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
</div>
</div>
{% endblock %}
