{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <h1>Group Process Status</h1>
        <div class="row">
        <div class="col-md-6">
        <div class = "container-fluid">
        <h2>Request submitted by you</h2>
        {% if message %}
            <p>{{ message }}<p>
        {% endif %}
        {% if processes %}
            <h3> In Progress </h3>
            {% for process in  processes %}
                {% if process.id in not_completed %}
                    <div id="inprocess_{{process.id}}">
                    <ul><li>Policy: <a href="/policy/show/{{process.policy_id}}">{{process.policy_name}}</a>
                        Group Name: <a href="../edit_group/{{process.group_id}}">{{process.group_name}}</a></ul>
                    <ul>Processed time: {{process.processed_time}}</li></ul>
                    </div>
                {% endif %}
            {% endfor %}
            <h3> Completed </h3>
             {% for process in processes %}
                {% if process.id not in not_completed %}
                    <div id="{{process.id}}">
                        <ul><li>
                          <h4>{{ process.group_name }}-{{ process.processed_time }}</h4>
                          <form action="{% url 'groups:result_graph' %}" method="post" enctype="multipart/form-data">
                            Policy: <a href="/policy/show/{{process.policy_id}}">{{process.policy_name}}</a><br/>
                            Group Name: <a href="../edit_group/{{process.group_id}}">{{process.group_name}}</a></li>
                            <button type="submit" value="Show Graph" class="btn btn-primary btn-sm">Show Graph</button>
                            {% csrf_token %}
                            <input type="hidden" name="process_id" id="process_id" value="{{process.id}}" />
                          </form>
                    </div>
                {% else %}
                    <div id="completed_{{process.id}}" style="display: none;">
                        <ul><li>
                          <h4>{{ process.group_name }}-{{ process.processed_time }}
                          <a href="../delete_group_result/{{process.id}}" class="btn btn-danger btn-sm">Delete</a></h4>
                          <form action="{% url 'groups:result_graph' %}" method="post" enctype="multipart/form-data">
                            Policy: <a href="/policy/show/{{process.policy_id}}">{{process.policy_name}}</a><br/>
                            Group Name: <a href="../edit_group/{{process.group_id}}">{{process.group_name}}</a></li>
                            <button type="submit" value="Show Graph" class="btn btn-primary btn-sm">Show Graph</button>
                            {% csrf_token %}
                            <input type="hidden" name="process_id" id="process_id" value="{{process.id}}" />
                          </li></ul>
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="col-md-6">
        <div class = "container-fluid">
        <h2>Request submitted by others</h2>
        {% if shared_processes %}
            <h3> In Progress </h3>
            {% for process in processes %}
                {% if process.id in shared_not_completed %}
                    <li>{{ process.group_name }}-{{process.processed_time}} Policy: {{process.policy_name}}</li>
                {% endif %}
            {% endfor %}
            <h3>Completed</h3>
             {% for process in  shared_processes %}
                {% if process.id not in shared_not_completed %}
                    <ul>{{ process.group_name }}-{{process.processed_time}} Policy: {{process.policy_name}}<a href="../delete_group_result/{{process.id}}" class="btn btn-danger btn-sm">Delete</a></li>
                    <form action="{% url 'groups:result_graph' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="process_id" id="process_id" value="{{process.id}}" />
                        <button type="submit" value="Show Graph" class="btn btn-primary btn-sm">Show Graph</button></ul>
                    </form>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
</div>
</div>
<script>
ids = [
{% for id in not_completed %}
    "{{id}}"{% if not forloop.last %}, {% endif %}
{% endfor %}
];
shared_ids = [
    {% for id in shared_not_completed %}
    "{{id}}"{% if not forloop.last %}, {% endif %}
    {% endfor %}
];

function handle_page(completed_ids) {
    for (var i = 0; i < completed_ids.length; i ++) {
        id = completed_ids[i];
        $("#inprocess_"+id).hide();
        $("#completed_"+id).show();
    }
}


function status_update(requested_ids) {
    var id = requested_ids[0];
    for (var i = 1; i < requested_ids.length; i ++) {
        id = id + "," +requested_ids[i];
    }
    var url = "{% url 'groups:get_group_process_status' %}?process_id="+id;
    $.get(url, function(data) {
        completed_ids = []
        not_completed_ids = []
        for (var i = 0; i < requested_ids.length; i ++) {
            current_id = requested_ids[i]
            if (data[current_id]){
                completed_ids.push(current_id)
            }
            else {
                not_completed_ids.push(current_id)
            }
        }
        handle_page(completed_ids)
        if (not_completed_ids.length > 0) {
            setTimeout(status_update, 10000, not_completed_ids);
        }
    });

}

if (ids.length > 0) {
    status_update(ids);
}



</script>
{% endblock %}
