{% extends 'base.html' %}
{% block content %}
<span>
    <div class = "container-fluid">
        <h1>Groups</h1>

        <div class="row">
            <div class="col-md-6">
            <h3>Your Groups</h3>
            {% if groups %}
                <ul>
                {% for group in groups %}
                    <li>
                    <h4>Group name: <a href="../edit_group/{{group.id}}"> {{ group.group_name }}</a><a href="../delete_group/{{group.id}}"><button class="btn btn-sm btn-danger">Delete Group</button></a></h4>
                    <ul>Creation time: {{group.creation_time}}
                    <form action="{% url 'groups:group_process' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="group_id" id="group{{ forloop.counter }}"
                     value="{{group.id}}" />

                    {{ form.policy_fields.errors }}

                    <label for="id_signal">Policy</label>
                    {{ form.policy_fields }}
                    <button type="submit" value="Process This Group" class="btn btn-primary btn-sm">Process</button></ul> </li>
                    </form>

                {% endfor %}
                </ul>
            {% else %}
            <p>No groups.</p>
            {% endif %}
             <h3> All groups</h3>
            {% if shared_groups %}
                <ul>
                {% for group in shared_groups %}
                    <li>
                    <form action="{% url 'groups:group_process' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="group_id" id="group{{ forloop.counter }}" value="{{group.id}}" />
                    <h4><a href="../edit_group/{{group.id}}">{{ group.group_name }}</a></h4>
                    <ul>Creation time: {{group.creation_time}}
                    {{ form.policy_fields.errors }}
                    <label for="id_signal">Policy</label>
                    {{ form.policy_fields }}
                    <button type="submit" value="Process This Group" class="btn btn-primary btn-sm">Process</button></ul></li>
                    </form>
                {% endfor %}
                </ul>
            {% else %}
            <p>No groups.</p>
            {% endif %}
            </div>
            <div class="col-md-4">
                {% if group %}
                    <form action="{% url 'groups:group_process' %}" method="post" enctype="multipart/form-data">
                    <h3> {{group.group_name}} is saved.</h3>
                    <p> Files in this group:
                        {% csrf_token %}
                        <input type="hidden" name="group_id" id="group{{ forloop.counter }}" value="{{group.id}}" />
                        {% for member in group.member_set.all %}
                            <ul>{{member.file_name}} {{member.upload_time}}</ul>
                        {% endfor %}
                            </p>
                        </li>    {{ form.config_fields.errors }}
                                <label for="id_signal">Config</label>
                                {{ form.config_fields }} </li>
                    </ul>
                    <input type="submit" value="Process All">
                    <button type="button" class="btn btn-primary btn-sm">Process</button>
                    </form>
                {% endif %}
                <form action="{% url 'groups:search_group' %}" name="group_name" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h3>Name-based Search</h3>
                <p>Please enter the name of group or keyword (case sensitive).</p>
                <input name='group_name' type="text" id="group_name">
                <button type="search" class="btn btn-primary">
                    Search
                </button>
                </form>

                {% if result_groups %}
                    <h3> Search Result</h3>
                    <h4> Search keyword : {{keyword}}</h4>
                    {% for group in result_groups %}
                    <form action="{% url 'groups:group_process' %}" method="post" enctype="multipart/form-data">
                    <h3>Group Name: {{group.group_name}} </h3>
                    <p> Files in this group:
                        {% csrf_token %}
                        <input type="hidden" name="group_id" id="group{{ forloop.counter }}" value="{{group.id}}" />
                        {% for member in group.member_set.all %}
                            <ul>{{member.file_name}} {{member.upload_time}}</ul>
                        {% endfor %}
                            </p>
                        </li>
                        {{ form.config_fields.errors }}
                        <label for="id_signal">Config</label>
                        {{ form.config_fields }}
                      </li>
                    </ul>
                    <button type="submit" value="Process All" class="btn btn-primary btn-sm">Process</button>
                    </form>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
</span>

<script>
  {% for group in groups %}
     $("#rename_form{{ forloop.counter }}").hide();
     $(".rename_link{{ forloop.counter }}").click (function(){
     $("#rename_form{{ forloop.counter }}").show();
     });
  {% endfor %}
</script>
{% endblock %}
