{% include 'base.html' %}
{% block body_block %}
<span>
    <div class = "container-fluid">
        <h1>Group List, Group Search and submit process</h1>
        <h4>Submit the process based on group and config. We can also search group by name.</h4>

        <div class="row">
            <div class="col-md-4">
                {% if group %}
                    <form action="{% url 'groups:group_process' %}" method="post" enctype="multipart/form-data">
                    <h3> {{group.group_name}} is saved.</h3>
                    <p> Files in this group :
                        {% csrf_token %}
                        <input type="hidden" name="group_name" id="group{{ forloop.counter }}" value="{{group.group_name}}" />
                        {% for member in group.member_set.all %}
                            <ul>{{member.file_name}} {{member.upload_time}}</ul>
                        {% endfor %}
                            </p>
                        </li>    {{ form.config_fields.errors }}
                                <label for="id_signal">Config</label>
                                {{ form.config_fields }} </li>
                    </ul>
                    <input type="submit" value="Process All">
                    <button type="button" class="btn btn-primary btn-sm">Process</button>
                    </form>
                {% endif %}
                <form action="{% url 'groups:search_group' %}" name="group_name" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h3>Name Based Search</h3>
                <p>Please enter the name of group or keyword (case sensitive).</p>
                <input name='group_name' type="text" id="group_name">
                <button type="search" class="btn btn-primary">
                    Search
                </button>
                </form>

                {% if result_groups %}
                    <h3> Search Result</h3>
                    <h4> Search keyword : {{keyword}}</h4>
                    {% for group in result_groups %}
                    <form action="{% url 'groups:group_process' %}" method="post" enctype="multipart/form-data">
                    <h3> Group Name: {{group.group_name}} </h3>
                    <p> Files in this group :
                        {% csrf_token %}
                        <input type="hidden" name="group_name" id="group{{ forloop.counter }}" value="{{group.group_name}}" />
                        {% for member in group.member_set.all %}
                            <ul>{{member.file_name}} {{member.upload_time}}</ul>
                        {% endfor %}
                            </p>
                        </li>    {{ form.config_fields.errors }}
                                <label for="id_signal">Config</label>
                                {{ form.config_fields }} </li>
                    </ul>
                    <button type="submit" value="Process All" class="btn btn-primary btn-sm">Process</button>
                    </form>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-6">
            <h2> List of all groups </h2>
            {% if groups %}
                <ul>
                {% for group in groups %}
                    <li>
                    <form action="{% url 'groups:group_process' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="group_name" id="group{{ forloop.counter }}" value="{{group.group_name}}" />
                    <h4>Group name: {{ group.group_name }}<a href="../edit_group/{{group.group_name}}"> Edit </a></h4>
                    <ul>Creation time: {{group.creation_time}}
                    {{ form.config_fields.errors }}
                    <label for="id_signal">Config</label>
                    {{ form.config_fields }}
                    <button type="submit" value="Process This Group" class="btn btn-primary btn-sm">Process</button></ul> </li>
                    </form>
                {% endfor %}
                </ul>
            {% else %}
            <p>No groups.</p>
            {% endif %}
            </div>
            </div>


        <ul>
            <li><a href="/">Go file list</a></li>
            <li><a href="/operations/">Go to config list</a></li>
            <li><a href="/upload/">Go to Upload file</a></li>
            <li><a href="/save_group/">Go to group list</a></li>
            <li><a href="/search/">Go to file search and group</a></li>
            <li><a href="../group_process/">Go to status of group process </a></li>
            <li><a href="../group_result/">Go to results of group process</a></li>
            <li><a href="/status/">Go to status of all the file process list</li>
            <li><a href="/">Go back to file list</a></li>
        </ul>
    </div>
</div>
</span>
{% endblock %}

