{% extends 'base.html' %}
{% block content %}

<span>
    <div class = "container-fluid">
    <h1>About SignalServer</h1>
    <div class="row">
        <div class="col-md-6"><p>
             <a href="https://github.com/bavc/signalserver">SignalServer</a> is a web application that significantly reduces the amount of time required to perform quality control on large sets of video files. Built upon <a href="https://bavc.org/preserve-media/preservation-tools">QCTools</a> and <a href="https://ffmpeg.org/">FFmpeg</a>, the application allows users to set their own pass/fail parameters, cross-referencing QCTools reports in an effort to identify potentially problematic outliers. Like <a href="https://mediaarea.net/MediaConch/">MediaConch</a>, but focused on frame-based video analysis rather than technical metadata policy checking, SignalServer reduces human error by providing comprehensive and customizable collection-level quality control reporting.
             <p>
             QCTools, MediaConch, and MediaArea, and now SignalServer are all the products of a growing community of open-source developers dedicated to serving the needs of audiovisual preservationists. SignalServer specifically addresses those who are engaged in large-scale workflows that require an automated means of quality controlling the mass amounts of digital files entering their repositories. Free to use and download and open to collaborators via the site's Github page, SignalServer is an accessible solution to expensive proprietary software applications.
             <p>
             <a href="http://www.bavc.org/preserve-media/">Bay Area Video Coalition (BAVC)</a> receieved initial funding for development from the National Endowment of the Humanties and their Division of Preservation and Access. Additional funding was provided by the Knight Foundation. 

             <h3>Developers (2015-2017)</h3>

             Dave Rice, QCTools Developer<br>
             Yayoi Ukai, Web Server Developer<br>
             Ashley Blewer, QCTools/SignalServer Developer<br>

             <h3>Bay Area Video Coalition (2015-2017) </h3>
             <p>
             Benjamin Turkus, Preservation Project Manager (2015-2017)<br>
             Kelly Haydon, Preservation Manager  (2017) 

             <h3>Supporters</h3>
             <p> 
             <table cellpadding="10" cellspacing="10">
             <tr>
             <td><img src="/frontend/static/img/neh_logo_horizlarge.jpg" height="60" width="234"></td>
             <td><img src="/frontend/static/img/knight-foundation-logo.png" height="60" width="234"></td>
             </tr>
             </table>


        </div>
    </div>
    </div>
</span>

{% endblock %}