{% extends 'base.html' %}
{% block content %}

<span>
    <div class = "container-fluid">
    <h1>About signalserver</h1>
    <div class="row">
        <div class="col-md-6">
             SignalServer is a web application that significantly reduces the amount of time required to perform quality control on large sets of video files. Built upon QCTools and FFmpeg, SignalServer allows users to set their own Pass/Fail parameters, cross-referencing QCTools reports in an effort to identify potentially problematic outliers. Like MediaConch, but focused on frame-based video analysis rather than technical metadata policy checking, signalserver reduces human error by providing comprehensive and customizable collection-level quality control reporting.

             QCTools, MediaConch, and MediaArea, and now SignalServer are all the products of a growing community of open-source developers dedicated to serving the needs of audiovisual preservationists. signalserver specifically addresses those who are engaged in large-scale workflows that require an automated means of quality controlling the mass amounts of digital files entering their repositories. Free to use and download and open to collaborators via the site's Github page, SignalServer is an accessible solution to expensive proprietary software applications.

             Bay Area Video Coalition receieved the funding for the development by the National Endowment of the Humanties and their Division of Preservation and Access over a two-year cycle (2015-2017). Additional funding was provided by the Knight Foundation. 

             <h2>Contributors (2015-2017)</h2>

             Dave Rice, QCTools Developer
             Yayoi Ukai, Web Server Developer
             Ashley Blewer, QCTools/SignalServer Developer

             <h2>Bay Area Video Coalition (2015-2017) </h2>

             Benjamin Turkus, Preservation Project Manager
             Kelly Haydon, Preservationist
             
        </div>
    </div>
    </div>
</span>

{% endblock %}