
        <h2>Hello</h2>
        <h3>This is the page for the status </h3>
        {% if group_results %}
                {% for key, values in group_results.items %}
                    {% if key in not_completed %}

                            <h3> In progress </h3>

                            <li>{{ key }} Config: {{values.0.config_name}}</li>
                    {% else %}

                        <h3> Completed </h3>

                         <li>{{ key }} Config: {{values.0.config_name}}</li>
                    {% endif %}
                {% endfor %}
        {% endif %}


            </br>
            </br>
            </br>
            <li><a href="/">Go back to file list</a></li>
            <li><a href="/operations/">Go to config list</a></li>
            <li><a href="/search/">Go to file search and group</a></li>
            <li><a href="/save_group/">Go to group list</a></li>
            <li><a href="../group_result/">Go to results of all group process</a></li>
            <li><a href="/status/">Go to status of all the file process list</li>
