{% include 'base.html' %}
{% block body_block %}

        <h1>Group List and Search</h1>

        <!--form action="{% url 'fileuploads:search' %}" name = "search" method="post" class="form"-->
            {% csrf_token %}
        <div class="container">
        <div class="row">

        <h3>Name Based Search</h3>
            <p>Please end the group name <input name='name_field' type="text" id="file_name"></p>
        </div>
            <button type="search" class="btn btn-primary">
                Search
            </button>
        </div>
        <!--/form-->

    <!-- List of uploaded files -->

        <!--form action="{% url 'fileuploads:save_group' %}" name="group_name" method="post" enctype="multipart/form-data"-->
    {% if group %}
         <form action="{% url 'fileuploads:group_process' %}" method="post" enctype="multipart/form-data">
         <h2> {{group.group_name}} is saved.</h2>
        <p> Files in this group :
                <!--a href="delete-video/{{video.filename}}">Delete</a--></li>
                {% csrf_token %}
                <input type="hidden" name="group_name" id="group{{ forloop.counter }}" value="{{group.group_name}}" />
                {% for member in group.member_set.all %}
                    <ul>{{member.file_name}} {{member.upload_time}}</ul>
                {% endfor %}
                </p>
        </li>    {{ form.config_fields.errors }}
                <label for="id_signal">Config</label>
                {{ form.config_fields }} </li>
        </ul>
             <p><input type="submit" value="Process All" /></p>

        </form>
        {% endif %}


    {% if groups %}

        <ul>

        {% for group in groups %}

            <li>
                 <form action="{% url 'fileuploads:group_process' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="group_name" id="group{{ forloop.counter }}" value="{{group.group_name}}" />
                group name: {{ group.group_name }}
                creation time: {{group.creation_time}}
                <p> Files in this group :
                <!--a href="delete-video/{{video.filename}}">Delete</a--></li>
                {% for member in group.member_set.all %}

                    <ul>{{member.file_name}} {{member.upload_time}}</ul>
                {% endfor %}
                </p>

                {{ form.config_fields.errors }}
                <label for="id_signal">Config</label>
                {{ form.config_fields }} </li>
        </ul>
             <p><input type="submit" value="Process All" /></p>

        </form>

        {% endfor %}
        </ul>



    {% else %}
        <p>No groups.</p>
    {% endif %}

        <ul>
            <li><a href="/">Go file list</a></li>
            <li><a href="/operations/">Go to config list</a></li>
            <li><a href="/upload/">Go to Upload file</a></li>
            <li><a href="/save_group/">Go to group list</a></li>
            <li><a href="/search/">Go to file search and group</a></li>
            <li><a href="../fileuploads/group_process/">Go to status of group process </a></li>
            <li><a href="../fileuploads/group_result/">Go to results of group process</a></li>
            <li><a href="/status/">Go to status of all the file process list</li>
            <li><a href="/">Go back to file list</a></li>
        </ul>
    {% endblock %}

