{% include 'base.html' %}
{% block body_block %}


        <h1>File Process</h1>

    <!-- List of uploaded files -->
    {% if videos %}

        <form action="{% url 'fileuploads:bulk_process' %}" method="post" enctype="multipart/form-data">
        <ul>
        {% csrf_token %}
        {% for video in videos %}

            <li><a href="show/{{ video.filename }}">{{ video.filename }}</a>
                Uploaded time{{video.upload_time}}



                <a href="delete-video/{{video.filename}}">Delete</a></li>
        {% endfor %}

            </li>    {{ form.config_fields.errors }}
                <label for="id_signal">Config</label>
                {{ form.config_fields }} </li>
        </ul>
             <p><input type="submit" value="Process All" /></p>

        </form>

    {% else %}
        <p>No file.</p>
    {% endif %}
        <ul>
            <li><a href="/upload/">Go to Upload file</a></li>
            <li><a href="/operations/">Go to config list</a></li>
            <li><a href="/search/">Go to file search and Create group</a></li>
            <li><a href="/save_group/">Go to list of group and submit process</a></li>
            <li><a href="/fileuploads/group_process/">Go to group process status</a></li>
            <li><a href="/fileuploads/group_process/">Go to result of group process</a></li>
            <li><a href="/status/">Go to status of all the file process list</li>
        </ul>

{% endblock %}