{% include 'base.html' %}
{% block body_block %}

        <h1>File Search</h1>
        <form action="{% url 'fileuploads:search' %}" name = "search" method="post" class="form">
            {% csrf_token %}
        <div class="container">
        <div class="row">

        <h3>DateTime Based Search</h3>
            <p>Start Time: <input name='start_field' type="text" id="datetimepicker"></p>
            <p>End Time: <input name='end_field' type="text" id="datetimepicker2"></p>
        </div>
            <button type="search" class="btn btn-primary">
                Search
            </button>
        </div>
        </form>

    <h3> list of all uploaded files </h3>

    <form action="{% url 'fileuploads:save_group' %}" name="group_name" method="post" enctype="multipart/form-data">


    {% if start %}
        <input type="hidden" name="start" id="start" value="{{ start }}" />
        {{ start}}
    {% endif %}
    {% if end %}
        <input type="hidden" name="end" id="end" value="{{ end }}" />
        {{ end }}
    {% endif %}
    {% if videos %}

        <ul>
        {% csrf_token %}
        {% for video in videos %}

            <li><input type="hidden" name="file{{ forloop.counter }}" id="file{{ forloop.counter }}" value="{{ video.filename }}" />
                <a href="show/{{ video.filename }}">{{ video.filename }}</a>
                Uploaded time{{video.upload_time}}
                <a href="delete-video/{{video.filename}}">Delete</a></li>
        {% endfor %}
    {% else %}
        <p>No file.</p>
    {% endif %}

    </ul>
    </li>
    {% if message %}
        {{ message }}
    {% endif %}
    {% if form %}
     {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.group_name.label_tag }}{{ form.group_name.help_text }}<p>
    <p>{{ form.group_name.errors }}
       {{ form.group_name }}</p>
    {% endif %}

     <button type="submit" value="Save Group" class="btn btn-primary" name="group_name_button">
        Create Group
    </button>
    </form>
        </ul>

        <ul>
            <li><a href="/operations/">Go to config list</a></li>
            <li><a href="/upload/">Go to Upload file</a></li>
            <li><a href="/operations/">Go to config list</a></li>
            <li><a href="/upload/">Go to Upload file</a></li>
            <li><a href="/search/">Go to file search and group</a></li>
            <li><a href="/group_process/">Go to group process status</a></li>
            <li><a href="/status/">Go to status of all the file process list</li>
            <li><a href="/">Go back to file list</a></li>
        </ul>
    {% endblock %}
    <script type="text/javascript">
        jQuery(function(){
            jQuery('#datetimepicker').datetimepicker();
            jQuery('#datetimepicker').datetimepicker({value:'2016/06/16 12:56'});
            jQuery('#datetimepicker2').datetimepicker();
            jQuery('#datetimepicker2').datetimepicker({value:'2016/06/16 04:06'});
        });
        </script>
<link rel="stylesheet" type="text/css" href="/bower_components/datetimepicker/jquery.datetimepicker.css"/ >
<script src="/bower_components/jquery/jquery.js"></script>
<script src="/bower_components/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
