{% extends 'base.html' %}
{% block content %}
        <h1>Hello</h1>
        <p>This is parking page for policy for now. click link below</p>

    <!-- Policy will go here -->
    <form action="{% url 'fileuploads:process' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <li><a href="result/{{ video.filename }}">{{ video.filename }}</a>
                Uploaded time{{video.upload_time}}
                <input id="file_name" type="hidden" name="file_name" value="{{ video.filename }}">
                {{ form.policy_fields.errors }}
                <label for="id_signal"> Policy </label>
                {{ form.policy_fields }} </li>
             <p><input type="submit" value="Process" /></p>
        </form>

   {% endblock %}