{% extends "base.html" %}

{% block content %}

<span>
<div class = "container-fluid">
<div class="row">
    <div class="col-md-6">

   <div id="content" class="colM">

        <h1>Enter new password</h1>

        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

        <form action="{% url 'password_reset_complete' %}" method="post">
            {% csrf_token %}

        <p class="aligned wide"><label for="id_new_password1">New password:</label><input id="id_new_password1" name="new_password1" type="password" /></p>

        <p class="aligned wide"><label for="id_new_password2">Confirm password:</label><input id="id_new_password2" name="new_password2" type="password" /></p>
        <p><input type="submit" value="Change my password" /></p>
</form>


</table>



</div>
</div>
</div>

{% endblock %}