<!DOCTYPE html>

<html>
    <head>
        <title>signalserver</title>
        {% load staticfiles %}
        <script type="text/javascript" src="/frontend/bower_components/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/frontend/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/frontend/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    </head>
    <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><b>signalserver</b> Video Signal Data Anomaly Detection Tool</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- li class="active"><a href="/fileuploads/list">About</a></li -->

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File<span class="sr-only">(current)</span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/fileuploads/list/">File upload, delete</a></li>
            <li><a href="/signals/">Submit Process by File, Config</a></li>
            <li><a href="/signals/process">File Config Process Status </a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Signal Graphs</a></li>
          </ul></li>
        <li><a href="/operations">Policy</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Group <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/fileuploads/search/">Create Group</a></li>
            <li><a href="/groups/save_group/">Submit Process by Group</a></li>
            <li><a href="/groups/group_process">Group Process Status </a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Result Graph</a></li>
          </ul>
        </li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

        <div id="content">
        {% load tz %}
        {% block content %}
        {% endblock %}
      </div>
</body>
<script type="text/javascript" src="/frontend/static/js/defaultdate.js"> </script>
<link rel="stylesheet" type="text/css" href="/frontend/bower_components/datetimepicker/jquery.datetimepicker.css"/ >
<script src="/frontend/bower_components/jquery/jquery.js"></script>
<script src="/frontend/bower_components/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
</html>

