<!DOCTYPE html>

<html>
    <head>
        <title>signalserver</title>
        {% load staticfiles %}
        <script type="text/javascript" src="/frontend/bower_components/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/frontend/bower_components/bootstrap/dist/js/bootstrap.min.js">
        </script>
        <link rel="stylesheet" href="/frontend/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/frontend/static/css/bootswatch.css" />
        <link rel="stylesheet" href="/frontend/static/css/main.css" />
    </head>
    <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/frontend/static/img/signalserver_white_sm.png" alt="signalserver logo"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/reports/dashboard/">Dashboard</a></li>
          <li><a href="/fileuploads/about/">About</a></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Files<span class="sr-only">(current)</span><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/fileuploads/list/">List Files</a></li>
              <li><a href="/fileuploads/search/">Create File Group</a></li>
              <li><a href="/signals/">Process File</a></li>
              <li><a href="/signals/file_process_status/">File Process Status</a></li>
              <li><a href="/groups/save_group/">Process Group</a></li>
              <li><a href="/groups/group_process">Group Process Status</a></li>
            </ul></li>
          <li><a href="/policy">Policies</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/accounts"> Settings</a></li>
              <li><a href="/register">Register</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/logout">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div id="content">
    {% load tz %}
    {% block content %}
    {% endblock %}
  </div>
  <footer class="footer">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="https://bavc.org/">BAVC</a></li>
          <li><a href="https://github.com/bavc/signalserver">Github</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="">License information here</a></li> -->
        </ul>
      </div>
    </nav>
  </footer>
</body>
<link rel="stylesheet" type="text/css" href="/frontend/bower_components/datetimepicker/jquery.datetimepicker.css"/ >
<script src="/frontend/bower_components/jquery/jquery.js"></script>
<script src="/frontend/bower_components/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
<script src="/frontend/static/js/main.js"></script>
</html>
