{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <h1>Policies</h1>
    <div class="row">
        <div class="col-md-6">
          <h3>All policies</h3>
          <!-- List of already created policies -->
          {% if policies %}
              {% for policy in policies %}
              <h4>Policy Name: <a href="show/{{ policy.id }}">{{ policy.policy_name }}</a></h4>
                  <p>Show in dashboard?: {{policy.dashboard}}</p>
              <p>Description: {{policy.description }}</p>
              <!-- Creation time {{policy.creation_time}} -->
              {% endfor %}
              </ul>
          {% else %}
            <p>No policy is set.</p>
          {% endif %}
        </div>
        <div class="col-md-6">
             <h3>Create new policy</h3>
             {% if message %}
                <p> {{ message }} <p>
             {% endif %}
            <form action="{% url 'policies:index' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form.non_field_errors }}</p>
                <p>{{ form.policy_name.label_tag }} {{ form.policy_name.help_text }}
                    {{ form.policy_name.errors }}
                    {{ form.policy_name }}
                </p>
                <div>
                <p>{{ form.description.label_tag }} {{ form.description.help_text }}
                    {{ form.description.errors }}
                    {{ form.description }}
                </p>
                </div>

                <div>
                <p>{{ form.dashboard.label_tag }} {{ form.dashboard.help_text }}
                    {{ form.dashboard.errors }}
                    {{ form.dashboard }}
                </p>
                </div>
                <div>
                <div id = "display_order_id" style="display: none;">
                <input name='display_order' type="hidden" value="{{ new_display_order }}">
                </div>
                <div>
                <p><button type="search" class="btn btn-primary">Create</button></p>
            </form>
        </div>
    </div>
</div>

<script>
  {% for policy in policies %}
     $("#rename_form{{ forloop.counter }}").hide();
     $(".rename_link{{ forloop.counter }}").click (function(){
     $("#rename_form{{ forloop.counter }}").show();
     });
  {% endfor %}
</script>

{% endblock %}
