{% extends 'base.html' %}
{% block content %}
<style>
#div1 {width:500px;height:200px;padding:10px;border:1px solid #aaaaaa;}
</style>


<span>
    <div class = "container-fluid">
    <h1> Add/Update/Delete Rules on Policies </h1>
    <div class="row">
    <div class="col-md-9">
    <h3>Policy Name: {{ policy.policy_name }}</h3>
    <h4>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    {% for choice in operation %}
          <p>
        <label for="choice{{ forloop.counter }}">

            {% if choice.get_second_signal_name_display != "None" %}
                Average difference beween "{{ choice.get_signal_name_display }}" and "{{ choice.get_second_signal_name_display }}"
            {% elif choice.get_op_name_display == "exceeds"  %}
                {{ choice.get_signal_name_display }} count of the frames with value above {{ choice.cut_off_number }}
            {% elif choice.get_op_name_display == "belows"  %}
                {{ choice.get_signal_name_display }} count of the frame with value below {{ choice.cut_off_number }}
            {% elif choice.get_op_name_display == "equals"  %}
                {{ choice.get_signal_name_display }} count of the frame with value euqal to {{ choice.cut_off_number }}
            {% else %}
                Average of  "{{ choice.get_signal_name_display }}"
            {% endif %}

            <a href="delete_rule/{{choice.id}}/{{ policy.policy_name }}"> Delete</a>
            <a class = "edit_link{{ forloop.counter }}" href="#">Edit</a>
            <div id="edit_form{{ forloop.counter }}">
               <form id="form_edit" action="{% url 'policies:edit_rule' %}" name = "edit" method="post" class="form">
                {% csrf_token %}

                <input name='old_name' type="hidden" value="{{ choice.get_signal_name_display }}">
                <input name='new_name' type="text" default="{{ group.get_signal_name_display }}">
                <button type="search" class="btn btn-primary">
                    Update
                </button>
              </form>
            </div>
            <p> Description:  "{{ choice.description }}"


            </p>





        </label>
        </p>


    {% endfor %}
     </h4>

    <form action="{% url 'policies:show' policy.policy_name %}" method="post">
    {% csrf_token %}

    <!-- variable -->
    {{ form.signal_fields.errors }}
    <label for="id_signal">Filter</label>
    {{ form.signal_fields }}

    {{ form.operation_fields.errors}}
    <label for="id_name">Operation</label>
    {{ form.operation_fields}}



    <div id="secondsignal" style="display:none;">
    {{ form.second_signal_fields.errors }}
    <label for="id_signal2">Filter2</label>
    {{ form.second_signal_fields }}
    </div>

    <div id="cutoffnumber" style="display:none;">
    {{ form.cutoff_number.errors }}
    <label for="id_cutoff ">Cutoff Number</label>
    {{ form.cutoff_number }}
    </div>

    <div id="display_order" style="display:none;">
    {{ form.display_order.errors }}
    <label for="id_cutoff ">Display order</label>
    {{ form.display_order }}
    </div>

    <div>
    {{ form.description.errors }}
    <label for="id_description">Description</label>
    {{ form.description }}
    </div>



    <button type="submit" class="btn btn-primary"> Add </button>
    </form>

    <h4> Last updated by : {{ policy.user_name}} </h4>
    <h4> Last Update : {{ policy.last_updated_time }} </h4>
    <h4> Creation time : {{policy.creation_time}} </h4>

    </div>


</div>
</div>
<script>

{% for choice in operation %}

    $("#edit_form{{ forloop.counter }}").hide();
    $(".edit_link{{ forloop.counter }}").click (function(){
        $("#edit_form{{ forloop.counter }}").show();
    });

{% endfor %}

function operationSelect(that) {
    if (that.value === "exceeds" || that.value === "equals" || that.value === "belows" ) {
        document.getElementById("cutoffnumber").style.display = "block";
        document.getElementById("secondsignal").style.display = "none";

    }
    else if (that.value == "average_difference"){
        document.getElementById("secondsignal").style.display = "block";
        document.getElementById("cutoffnumber").style.display = "none";
    }
    else if (that.value == "average"){
        document.getElementById("secondsignal").style.display = "none";
        document.getElementById("cutoffnumber").style.display = "none";
    }

}


</script>
{% endblock %}