{% extends 'base.html' %}
{% block content %}
<style>
#div1 {width:500px;height:200px;padding:10px;border:1px solid #aaaaaa;}
</style>
  <div class= "container-fluid">
    <h1>{{ policy.policy_name }}</h1>
    <div class="row">
      <div class="col-md-6">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <div>
          <h4>Add a new rule</h4>
          <form action="{% url 'policies:show' policy.id %}" method="post">
          {% csrf_token %}
            <div id="policy_add">
            <!-- variable -->
            <div>
              {{ form.signal_fields.errors }}
              <label for="id_signal">
                <span data-toggle="tooltip" data-placement="bottom" title="Select rule based on ffmpeg filter">Filter &#9432;</span>
              </label>
              {{ form.signal_fields }}
            </div>
            <div>
              {{ form.operation_fields.errors}}
              <label for="id_name">
                <span data-toggle="tooltip" data-placement="bottom" title="Select method to analyze filter">Operation &#9432;</span>
              </label>
              {{ form.operation_fields}}
            </div>
            <div id="secondsignal" style="display:none;">
              {{ form.second_signal_fields.errors }}
              <label for="id_signal2">
                <span data-toggle="tooltip" data-placement="bottom" title="Compare against second filter">Second Filter &#9432;</span>
              </label>
              {{ form.second_signal_fields }}
            </div>

            <div id="cutoffnumber" style="display:none;">
              {{ form.cutoff_number.errors }}
              <label for="id_cutoff ">
                <span data-toggle="tooltip" data-placement="bottom" title="Specify number of frames that must quality for a rule to fail">Cutoff Number &#9432;</span>
              </label>
              {{ form.cutoff_number }}
            </div>

            <div id="display_order" style="display:none;">
            {{ form.display_order.errors }}
            <label for="id_cutoff ">Display order</label>
            {{ form.display_order }}
            </div>
            <div>
              {{ form.description.errors }}
              <label for="id_description">
                <span data-toggle="tooltip" data-placement="bottom" title="Brief description of rule's purpose">Description &#9432;</span>
              </label>
              {{ form.description }}
            </div>
            <div>
              {{ form.dashboard.errors }}
              <label for="id_dashboard">
                <span data-toggle="tooltip" data-placement="bottom" title="Select if showing results on dashboard is desired.">Show in dashboard? &#9432;</span>
              </label>
              {{ form.dashboard }}
            </div>
            <div>
              {{ form.percentage.errors }}
              <label for="id_percentage">
              <span data-toggle="tooltip" data-placement="bottom" title="If the resulting value is over or under average results among the group by this percentage, the filename will be reported.">Group error percentage &#9432;</span>
              </label>
              {{ form.percentage }}
            </div>
            <div>
              {{ form.file_percentage.errors }}
              <label for="id_file_percentage">
              <span data-toggle="tooltip" data-placement="bottom" title="If frame value is over or under the average value of all frames within the file by this percentage, the frame time will be reported.">File error percentage &#9432;</span>
              </label>
              {{ form.file_percentage }}
            </div>

             <input name='display_order' type="hidden" value="{{ length }}">
             <input name='action' type="hidden" value="new">
             <button type="submit" class="btn btn-primary">Add new rule</button>
         </div>
        </form>
    </div>
    <h2>Rules</h2>
      {% for choice in operation %}
      <div>
          <label for="choice{{ forloop.counter }}"></label>
              <ul class="list-group">
                  <li class="list-group-item">Rule ID: {{choice.id}}
                    <a href="delete_rule/{{choice.id}}/{{ policy.id }}" class="badge badge-danger">Delete</a>
                    <a id="rule_edit{{choice.id}}" class="edit_link{{ forloop.counter }} badge">Edit</a>
                  </li>
                <li class="list-group-item">
                {% if choice.get_second_signal_name_display != "None" %}
                    Average difference beween "{{ choice.get_signal_name_display }}" and "{{ choice.get_second_signal_name_display }}"
                {% elif choice.get_op_name_display == "exceeds"  %}
                    {{ choice.get_signal_name_display }} count of the frames with value above {{ choice.cut_off_number }}
                {% elif choice.get_op_name_display == "belows"  %}
                    {{ choice.get_signal_name_display }} count of the frame with value below {{ choice.cut_off_number }}
                {% elif choice.get_op_name_display == "equals"  %}
                    {{ choice.get_signal_name_display }} count of the frame with value equal to {{ choice.cut_off_number }}
                {% else %}
                    Average of  {{ choice.get_signal_name_display }}
                {% endif %}
              </li>
                <li class="list-group-item">
                Description:  {{ choice.description }}
              </li>
                <li class="list-group-item">
                Dashboard Group error percentage: {{ choice.percentage }} %
              </li>
                <li class="list-group-item">
                Dashboard File error percentage: {{ choice.file_percentage }} %
              </li>
                <li class="list-group-item">
                Report in dashboard? {{choice.dashboard}}
              </li>
            </ul>
              <div id= "edit_form{{ forloop.counter }}">
              <ul>
              <form id="form_edit" action="{% url 'policies:show' policy.id %}" name = "edit" method="post" class="form">
                  {% csrf_token %}
                  <div id="policy_edit{{ forloop.counter }}">
                  <!-- variable -->
                      <input name='action' type="hidden" value="edit">
                      <input name='id_num' type="hidden" value="{{ choice.id }}">
                      <label for="id_signal">Filter</label>
                      <input name='signal_fields' type="hidden" value="{{ choice.signal_name }}">
                      {{ choice.get_signal_name_display }}
                      {{ form.operation_fields.errors}}
                      <label for="id_name">Operation</label>
                      <select id="id_operation_fields{{ choice.id }}" name="operation_fields" onChange="operationSelect(this)" required value="{{choice.get_op_name_display}}">
                          <option value="average">average</option>
                          <option value="exceeds">count of frames with value above</option>
                          <option value="equals">count of frames with value equal to</option>
                          <option value="belows">count of frames with value below</option>
                          <option value="average_difference">average_difference</option>
                      </select>
                      <div id="secondsignal" style="display:none;">
                        {{ form.second_signal_fields.errors }}
                        <label for="id_signal2">Filter2</label>
                        {{ form.second_signal_fields }}
                      </div>
                      <div id="cutoffnumber{{ choice.id }}" style="display:none;">
                        <label for="id_cutoff ">Cutoff Number</label>
                        <input name='cutoff_number' type="text" value="{{ choice.cut_off_number }}">
                      </div>
                      <div id="display_order" style="display:none;">
                      <input name='display_order' type="hidden" value="{{ forloop.counter }}">
                      {{ form.display_order.errors }}
                      <label for="id_cutoff ">Display order</label>
                      {{ form.display_order }}
                      </div>
                      <div>
                        <label for="id_description">Description</label>
                        <input name='description' type="text" value="{{ choice.description }}">
                      </div>
                      <div>
                        <label for="id_percentage">Group Percentage</label>
                        <input name='percentage' type="text" value="{{ choice.percentage }}">
                      </div>
                      <div>
                        <label for="id_file_percentage">File Percentage</label>
                        <input name='file_percentage' type="text" value="{{ choice.file_percentage }}">
                      </div>
                      <div>
                        {{ form.dashboard.errors }}
                        <label for="id_dashboard">Show in Dashboard</label>
                        {{ form.dashboard }}
                      </div>
                  <button type="search" class="btn btn-primary">Update</button>
                  </div>
                </form>
              </ul>
          </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-6">
      <h2>Properties</h2>
        <div id="rename_form">
           <form id="form_rename" action="{% url 'policies:rename' %}" name = "rename" method="post" class="form">
            {% csrf_token %}
            <input name='old_name' type="hidden" value="{{ policy.policy_name }}">
            <input name='new_name' type="text" default="{{ policy.policy_name }}">
            <button type="search" class="btn btn-sm btn-warning">Rename</button>
          </form>
        </div>
        <br/>
        <form id="policy_property" action="{% url 'policies:show' policy.id %}" method="post">
        {% csrf_token %}
        <input name='action' type="hidden" value="update_policy">
        <div id="current_version">Version No.: {{policy.version }} </div><div id="version_info">Version No: <input type="text" id="id_new_version" name="version" value="{{policy.version }}"/></div><a id="version_edit" href="#">Change</a>
        <strong>Last updated by</strong> {{ policy.user_name}} <br/>
        <strong>Last update</strong> {{ policy.last_updated_time }} <br/>
        <strong>Creation time</strong> {{policy.creation_time}} <br/>
        Show in dashboard? <input id="id_new_checkbox" type="checkbox" name="policy_dashboard" value="{{policy.dashboard }}" checked="{{policy.dashboard }}"><br/>
        <button type="search" class="btn btn-sm btn-primary">Update</button>
        </form>
        <br/>
        <a href="../delete_policy/{{policy.id}}" class="btn btn-sm btn-danger">Delete</a>
    </div>
  </div>
</div>

<script>
if ($("#id_new_checkbox").val() == "False") {
    document.getElementById("id_new_checkbox").checked = false;
}

$("#version_info").hide();
$("#version_edit").click (function(){
    $("#version_info").show();
    $("#version_edit").hide();
    $("#current_version").hide();
});

{% for choice in operation %}

    $("#edit_form{{ forloop.counter }}").hide();
    $(".edit_link{{ forloop.counter }}").click (function(){
        $("#edit_form{{ forloop.counter }}").show();
        document.getElementById('id_operation_fields{{ choice.id }}').value="{{choice.get_op_name_display}}";
        if ("{{choice.get_op_name_display}}" == "exceeds" ||
            "{{choice.get_op_name_display}}" == "belows" ||
            "{{choice.get_op_name_display}}" == "equals") {
            document.getElementById("cutoffnumber{{ choice.id }}").style.display = "block";
            document.getElementById("rule_edit{{ choice.id }}").style.display = "none";
        }
    });

{% endfor %}



function operationSelect(that) {
    var parent = that.parentElement;
    var children = parent.children;
    var cutoff_element = children.cutoffnumber;
    var second_sig_element = children.secondsignal;
    if (that.value === "exceeds" || that.value === "equals" || that.value === "belows" ) {

        cutoff_element.style.display = "block";
        second_sig_element.style.display = "none";

    }
    else if (that.value == "average_difference"){
        second_sig_element.style.display = "block";
        cutoff_element.style.display = "none";
    }
    else if (that.value == "average"){
        second_sig_element.style.display = "none";
        cutoff_element.style.display = "none";
    }

}

$(document).ready(function($) {
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
