{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" src="/frontend/bower_components/d3/d3.min.js"></script>
    <div class ="container-fluid">

        <h2> Graphs from the file processed data</h4>
        <h3> File Name : {{ outputs.0.file_name }}</h3>

         {% for output in outputs %}
                <h3> Signal Name : {{ output.signal_name }}</h3>
                <div id="chart{{ forloop.counter }}"></div>

        {% endfor %}

    </div>
<script type="text/javascript" src="/frontend/static/js/linechart-signal.js"></script>
<script>
ids = [
{% for output in outputs %}
    "{{output.pk}}"{% if not forloop.last %}, {% endif %}
{% endfor %}
];

function graph_for_signal(ids, idx) {
    d3.json("{% url 'signals:get_graph_data' %}?id="+ ids,
        function(error, data) {
            createLineGraph(data, '#chart' + idx, 'lineChart' + idx);
        }
    );
}

for (i = 0; i < ids.length; i++) {
    graph_for_signal(ids[i], i + 1);
}

</script>
{% endblock %}


