{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" src="/frontend/bower_components/d3/d3.min.js"></script>
    <div class ="container-fluid">
        {% if report %}
        <h2>{{ report.file_name }}</h2>
        <div>
          <ul class="list-unstyled">
            <li>Filename:</li>
            <li>Format log name:</li>
            <li>Duration</li>
            <li>Size:</li>
            <li>Bitrate:</li>
            <li>Codec name:</li>
            <li>Codec type:</li>
            <li>Width:</li>
            <li>Height:</li>
            <li>Sample aspect ratio (SAR):</li>
            <li>Display aspect ratio (DAR):</li>
            <li>Pixel format:</li>
            <li>Field order:</li>
            <li>Average frame rate:</li>
            <li>Sample rate:</li>
            <li>Bits per raw sample:</li>
            <li>Channel:</li>
          </ul>
        </div>
        <h2>Process Summary</h2>
        {{ report }}
        {% endif %}
        {% if items_dict %}
        <p>
        <h3>These frames are off from average (percentage is set in rules in the policy. It is "file_percentage") Policy Name: {{ report.policy_name }}</h3>
        {% for item, op in items_dict.items %}
            <h4> Off from average by :{{item.percentage}} % </h4>
            <ul> filename: {{item.file_name}} </ul>
            <ul> signal_name: {{op.get_signal_name_display}} </ul>
            <ul> average: {{item.average}} </ul>
            <ul> total_frame_count: {{item.total_frame_number}}</ul>
            <ul> total_off_frame_count: {{item.off_total_frame_number}}</ul>
            <ul> frame values : {% for value in item.off_signal_values %}
                    {{value}} ,
                 {% endfor %}</ul>
             <ul> timing : {% for value in item.off_frame_times %}
                    {{value}} ,
                 {% endfor %}</ul>
            <ul> frame average: {{item.average}} </ul>
            <p> ---------------------------------- </p>
        {% endfor %}
        </p>
         {% endif %}
        <h2>Graphs from the file processed data</h4>
         {% for op in ops %}
            <h3>Signal Name: {{ op.get_signal_name_display }}</h3>
            <div id="chart{{ forloop.counter }}"></div>
        {% endfor %}
    </div>
<script type="text/javascript" src="/frontend/static/js/linechart-signal.js"></script>
<script>
ids = [
{% for output in outputs %}
    "{{output.pk}}"{% if not forloop.last %}, {% endif %}
{% endfor %}
];

function graph_for_signal(ids, idx) {
    d3.json("{% url 'signals:get_graph_data' %}?id="+ ids,
        function(error, data) {
            createLineGraph(data, '#chart' + idx, 'lineChart' + idx);
        }
    );
}

for (i = 0; i < ids.length; i++) {
    graph_for_signal(ids[i], i + 1);
}

</script>
{% endblock %}
